<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog | Hockey Decoded</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="site-nav-header">
        <div class="nav-container">
            <div class="site-title"><a href="/">Hockey Decoded</a></div>
            <nav class="site-nav">
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
                <a href="/dashboard">Dashboards</a>
                <a href="/about">About</a>
            </nav>
        </div>    
    </header>
    
    <main class="blog-card-row">        
        <div class="blog-card">
            <h1>How have player demographics changed over the history of the league?</h1>
            <p>A deep exploration of player height, weight, and nationality from 1917-2025.</p>
             <button class="blog-button"><a href="/">See Post</a></button>
        </div>
    </main>
</body>

</html>
