<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About | Hockey Decoded</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="site-nav-header">
        <div class="nav-container">
            <div class="site-title"><a href="/">Hockey Decoded</a></div>
            <nav class="site-nav">
                <a href="/">Home</a>
                <a href="/deep-dives">Deep Dives</a>
                <a href="/dashboard">Dashboards</a>
                <a href="/about">About</a>
            </nav>
          </div>    
    </header>
    
    <main class="sub-main">
        <h1>About this project</h1>
        
        <div class="about-image-container">
            <img src="/static/images/header2.jpg" alt="Photo of Dylan Wiwad" class="about-image">
        </div>
        
        <div class="about-card-meta">
            <div class="about-card">
                <p>My name is <a href="http://dylanwiwad.com/" 
                target="_blank" rel="noopener noreferrer">
                Dylan Wiwad</a> I’m a 
                quantitative behavioral scientist who spent most of 
                my academic career as a social psychologist thinking about how
                to measure stuff you can’t directly observe—things like biases, 
                beliefs, experiences, etc. Despite the fact that my substantive 
                research area was in the psychology of inequality, I always 
                loved and have done some 
                <a href="http://dylanwiwad.com/files/plos_2019.pdf" 
                target="_blank" rel="noopener noreferrer">
                original work in psychometrics.</a> I 
                found the problem of how we create reliable, valid, and 
                meaningful metrics for unobservable psychological phenomena to 
                be a really interesting puzzle.</p>
                <p>I worked on a lot of questions around inequality and 
                measurement from an academic angle. After moving into industry 
                as a Quant Researcher at Slack, those same skills started 
                creeping back in—but this time in more applied contexts like 
                "How do we take the nebulous idea of 'AI Agent Quality' and 
                build a solid construct definition and measurement model 
                around it?" </p>
                <p>And then, hockey crept back in.</p>
                <p>I grew up in Edmonton, so naturally I was a hockey fan as 
                a kid. But like a lot of people, I hit that point where I 
                thought I was too cool for it. Plus, the Oilers’ “decade of 
                darkness” didn’t exactly make it easy to stay invested. So for 
                a long stretch, I just stopped paying attention. During grad 
                school, sports crept back into my life through the road bike 
                racing scene in Vancouver, and I started to re-enter the world 
                of participating in, watching, and following competitive sports.</p>
                <p>Then in 2021–2022, I got a text from my brother, a lifelong 
                hockey player and diehard fan, saying the Oilers were making 
                a legitimate playoff run for the first time in a long time. I 
                got curious again. Watched the playoffs that year. We lost. 
                Watched again the next year. Lost worse. Then I started dipping 
                into regular season games. By 2024–2025, I was fully 
                back watching every single game, with Moneypuck open constantly 
                for live analytics.</p>
                <p>At some point that season, I started thinking "hey, this 
                Moneypuck data must come from somewhere..." A bit of digging 
                later, I found the NHL API documentation and started exploring. 
                I began pulling historical data, building dashboards to track 
                shots, time on ice, and game flow in real time—mostly just for 
                fun and to see what I could build.</p>
                <p>Most hockey analytics out there are focused on raw 
                observables or prediction; things like shot counts and shot 
                locations, penalty minutes, expected goals, or win probabilities. 
                That stuff is super interesting and useful, but it also misses 
                an important angle. No one seemed to be trying to define or 
                measure the squishier, more abstract concepts—the ones everyone 
                talks about, but that don’t show up cleanly in the box score.</p>
                <p>That’s when my psychometrics brain kicked in. I started 
                noticing how often broadcasters and analysts would throw around 
                terms like “depth,” “physicality,” “pace,” or “defensive 
                responsibility” but no one ever really defined them. Everyone 
                uses them, but I’ve never seen a clear, structured way of 
                defining and measuring them.</p>
                <p>So I started thinking: what if I could build metrics to 
                quantify these kinds of ideas at the game or team level? What 
                if I could turn nebulous hockey ideas into interpretable, 
                useful data? And while I was at it—what if I could present 
                those metrics in a way that didn’t feel like a data dump? Most 
                hockey analytics sites feel like they’re built for other data 
                nerds. I wanted something clearer, more accessible, more 
                narrative driven. Something that tells a story.</p>
                <p>That’s how Hockey Decoded came to be. It’s my attempt to 
                merge a career in measurement and data with a rediscovered 
                love for the game. Part analytics, part storytelling, part 
                exploration. The goal is simple: decode hockey—its language, 
                its assumptions, its patterns—and do it in a way that’s 
                insightful, intuitive, and fun.</p>
            </div>
        </div>
    </main>
</body>

</html>
