<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboards | Hockey Decoded</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="site-nav-header">
        <div class="nav-container">
            <div class="site-title"><a href="/">Hockey Decoded</a></div>
            <nav class="site-nav">
              <a href="/">Home</a>
              <a href="/blog">Blog</a>
              <a href="/about">About</a>
              <a href="/dashboard">Dashboards</a>
            </nav>
          </div>    
    </header>
    
    <main class="sub-main">
        <h1>Live Games Today</h1>
    </main>
</body>

</html>
