<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quantified Hockey</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- TODO: Add an icon to the static folder and call it here for the browser tab -->
    <!-- <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <header class="site-header">
        <h1>Welcome to Quantified Hockey!</h1>
        <p>Your new go to site for in-depth hockey analytics.</p>
    </header>

    <main class="center-wrapper">
        <div class="centered">
            <p>Check out what this site is <a href="/about">about!</a></p>
            <p>See historical and deep dive data analyses on my <a href="/blog">blog!</a></p>
            <p>Have a game you're watching tonight? See the live <a href="/dashboard">shape of the game!</a></p>
            <p>Created by Dylan Wiwad.</p>
        </div>
    </main>
</body>

</html>
