<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hockey Decoded</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- TODO: Add an icon to the static folder and call it here for the browser tab -->
    <!-- <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <header class="site-header">
        <h1>Welcome to</h1>
        <h1>Hockey Decoded!</h1>
        <p>Your go to site for in-depth hockey analytics.</p>
    </header>
    
    <main class="card-row">    
        <div class="card">
            <h1>Deep Dives</h1>
            <p>Read my deep dive analyses on historical NHL data.</p>
            <button class="card-button"><a href="/deep-dives">View Posts</a></button>
        </div>
    
        <div class="card">
            <h1>Dashboards</h1>
            <p>Explore live "shape of the game" and detailed dashboards.</p>
            <button class="card-button"><a href="/dashboard">View Dashboards</a></button>
        </div>
        
        <div class="card">
            <h1>About</h1>
            <p>Learn more about the goals and features of this site.</p>
            <button class="card-button"><a href="/about">Learn More</a></button>
        </div>
    </main>
    
    <footer class="site-footer">
        <p>Created, Built, and the Intellectual Property of <a 
        href="http://dylanwiwad.com/" target="_blank" rel="noopener noreferrer">
        Dylan Wiwad</a></p>
    </footer>
      
</body>

</html>
